<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="favicon.ico" />

<title>User Registration with Spring Boot</title>

<!-- Bootstrap core CSS -->
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous" />

	<link th:href="@{css/style.css}" rel="stylesheet" />
</head>

<body>

  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>

      <hr/><h4>Basic Information</h4><hr/>

      <form autocomplete="off" action="#" th:action="@{/register}"
        th:object="${user}" method="post" class="m-t" role="form"
        data-toggle="validator">

		
        <div th:if="${confirmationMessage}" class="alert alert-success"
          role="alert" th:text=${confirmationMessage}></div>

        <div th:if="${alreadyRegisteredMessage}"
          class="alert alert-danger" role="alert"
          th:text="${alreadyRegisteredMessage}"></div>


        <div th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"
          class="validation-message alert alert-danger" role="alert"></div>

        <div th:if="${#fields.hasErrors('nameBangla')}"
             th:errors="*{nameBangla}"
             class="validation-message alert alert-danger" role="alert"></div>

        <div th:if="${#fields.hasErrors('payscale')}"
             th:errors="*{payscale}"
             class="validation-message alert alert-danger" role="alert"></div>

        <div th:if="${#fields.hasErrors('currentWorkplace')}"
             th:errors="*{currentWorkplace}"
             class="validation-message alert alert-danger" role="alert"></div>

        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
          class="validation-message alert alert-danger" role="alert"></div>

        <div th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"
          class="validation-message alert alert-danger" role="alert"></div>

<!-------------------------------ALl inputs Starts here-------------------------------------->
        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{name}"
            placeholder="First Name" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('nameBangla')}"
                 th:errors="*{nameBangla}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{nameBangla}"
                 placeholder="Name in Bangla" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('occupation')}"
                 th:errors="*{occupation}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{occupation}"
                 placeholder="Current Designation" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>


        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('currentWorkplace')}"
                 th:errors="*{currentWorkplace}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{currentWorkplace}"
                 placeholder="Current Workplace" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <input type="email" th:field="*{email}"
                 placeholder="Email Address" class="form-control"
                 data-error="This email address is invalid" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>

        </div>


        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-phone"></span>
          </span>
          <input type="tel" th:field="*{phone}"
                 placeholder="Phone Number" class="form-control"
                 data-error="This Phone No is invalid" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>


        <hr/><h4>Personal Information</h4><hr/>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('fatherName')}"
                 th:errors="*{fatherName}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{fatherName}"
                 placeholder="Father Name" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('motherName')}"
                 th:errors="*{motherName}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{motherName}"
                 placeholder="Mother Name" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('presentAddress')}"
                 th:errors="*{presentAddress}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{presentAddress}"
                 placeholder="Present Address" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('permanentAddress')}"
                 th:errors="*{permanentAddress}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{permanentAddress}"
                 placeholder="Permanent Address" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>


        <div class="form-group input-group has-feedback">
          <select th:field="*{sex}" class="form-control" required>
            <option th:value="''">Select Gender</option>
            <option th:value="'M'">Male</option>
            <option th:value="'F'">Female</option>
          </select>
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <select th:field="*{mStatus}" class="form-control" required>
            <option th:value="''">Select Marital Status</option>
            <option th:value="'Single'">Single</option>
            <option th:value="'Married'">Married</option>
          </select>
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>


        <div class="form-group input-group has-feedback">
          <select th:field="*{religion}" class="form-control" required>
            <option th:value="''">Select Religion</option>
            <option th:value="'Islam'">Islam</option>
            <option th:value="'Hinduism'">Hinduism</option>
            <option th:value="'Buddhism'">Buddhism</option>
            <option th:value="'Christian'">Christian</option>
          </select>
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>


        <div class="form-group input-group date" data-provide="datepicker">
          <div class="input-group-addon"><span><label>Date of Birth: </label></span></div>
          <input type="date" th:field="*{dob}" placeholder="Date of Birth" class="form-control" required >
        </div>

        <div class="form-group input-group date" data-provide="datepicker">
          <div class="input-group-addon"><span><label>PRL Date: </label></span></div>
          <input type="date" th:field="*{prlDate}" placeholder="Date of Birth" class="form-control" required >
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('NID')}"
                 th:errors="*{NID}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{NID}"
                 placeholder="National ID" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('TIN')}"
                 th:errors="*{TIN}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{TIN}"
                 placeholder="Tax Identification No" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>


        <hr/><h4>HRIS Information</h4><hr/>

        <div class="form-group input-group has-feedback">
          <select th:field="*{postingStatus}" class="form-control" required>
            <option th:value="''">Select Posting Status</option>
            <option th:value="'Posted'">Posted</option>
            <option th:value="'Not Posted'">Not Posted</option>
          </select>
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <select th:field="*{postedAs}" class="form-control" required>
            <option th:value="''">Select Posted As</option>
            <option th:value="'For the Post'">For the Post</option>
            <option th:value="'Against The Post'">Against The Post</option>
          </select>
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('HRISId')}"
                 th:errors="*{HRISId}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{HRISId}"
                 placeholder="HRIS ID" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('postId')}"
                 th:errors="*{postId}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{postId}"
                 placeholder="Post ID" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>


        <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" th:field="*{codeNo}"
                 placeholder="Code No" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>


        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('bcsBatchNo')}"
                 th:errors="*{bcsBatchNo}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{bcsBatchNo}"
                 placeholder="BCS Batch No" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <select th:field="*{noStudyDept}" class="form-control" required>
            <option th:value="''">No Of Study deputation</option>
            <option th:value="'1'">1</option>
            <option th:value="'2'">2</option>
            <option th:value="'3'">3</option>
            <option th:value="'4'">4</option>
            <option th:value="'5'">5</option>
            <option th:value="'6'">6</option>
            <option th:value="'7'">7</option>
            <option th:value="'8'">8</option>
          </select>
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('originalDesignation')}"
                 th:errors="*{originalDesignation}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{originalDesignation}"
                 placeholder="Originl Designation" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('acrAvailability')}"
                 th:errors="*{acrAvailability}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{acrAvailability}"
                 placeholder="List ACR Availability Years" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <hr/><h4>Other Information</h4><hr/>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('profDiscipline')}"
                 th:errors="*{profDiscipline}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{profDiscipline}"
                 placeholder="Professional Discipline" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('profCategory')}"
                 th:errors="*{profCategory}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{profCategory}"
                 placeholder="Professional Category" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('jobStatus')}"
                 th:errors="*{jobStatus}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{jobStatus}"
                 placeholder="Job Status" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <select th:field="*{tribe}" class="form-control" required>
            <option th:value="''">Select Your Tribe</option>
            <option th:value="'Not Tribal'">Not Tribal</option>
            <option th:value="'Chakma'">Chakma</option>
            <option th:value="'Marma'">Marma</option>
          </select>
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>


        <div class="form-group input-group has-feedback">
          <div class="input-group-addon"><span><label>Is Freedom Fighter: </label></span></div>
            <input type="radio" id="option1" name="option1" class="custom-control-input" value="Yes" th:field="*{isFreedomFighter}">
            <label class="custom-control-label" for="option1">Yes</label>
            <input type="radio" id="option2" name="option2" class="custom-control-input" value="No" th:field="*{isFreedomFighter}">
            <label class="custom-control-label" for="option2">No</label>

        </div>



        <div class="form-group input-group has-feedback">
          <select th:field="*{isFreedomFighter}" class="form-control" required>
            <option th:value="'1'">Yes</option>
            <option th:value="'0'">No</option>
          </select>
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <select th:field="*{isLiveGovtQuarter}" class="form-control" required>
            <option th:value="'1'">Yes</option>
            <option th:value="'0'">No</option>
          </select>
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group date" data-provide="datepicker">
          <input type="date" th:field="*{jdHealthService}" placeholder="Joining Date (Govt Health Service)" class="form-control" required >
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>

        <div class="form-group input-group date" data-provide="datepicker">
          <input type="date" th:field="*{jdCurrentPlace}" placeholder="Joining Date (Current Place)" class="form-control" required >
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>

        <div class="form-group input-group date" data-provide="datepicker">
          <input type="date" th:field="*{jdCurrentDesignation}" placeholder="Joining Date (Current Designation)" class="form-control" required >
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>

        <div class="form-group input-group has-feedback">
          <select th:field="*{payscale}" class="form-control" required>
            <option th:value="'1'">1</option>
            <option th:value="'2'">2</option>
            <option th:value="'3'">3</option>
            <option th:value="'4'">4</option>
            <option th:value="'5'">5</option>
            <option th:value="'6'">6</option>
            <option th:value="'7'">7</option>
            <option th:value="'8'">8</option>
            <option th:value="'9'">9</option>
            <option th:value="'10'">10</option>
            <option th:value="'11'">11</option>
            <option th:value="'12'">12</option>
          </select>
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <div class="form-group input-group has-feedback">
          <label th:if="${#fields.hasErrors('currentBasicPay')}"
                 th:errors="*{currentBasicPay}" class="validation-message"></label>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

          <input type="text" th:field="*{currentBasicPay}"
                 placeholder="Current Basic Pay" class="form-control" required />
          <span class="glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>

        <hr/><h4>Information on Last Promotion</h4><hr/>


        <button type="submit"
          class="btn btn-primary block full-width m-b">Register</button>

      </form>
       <p class="m-t">
      
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2>Upload Additional Files</h2>
      <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
      <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" name="file" class="form-control-file" >
        </div>
        <button type="submit" class="btn btn-primary">Upload File</button>
      </form>
    </div>
  </div>





  <!-- jQuery-->
  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script
    src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <!-- Bootstrap Validator plugin -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

 
</body>

</html>
